<div class="loader"  *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="container text-center" style="padding:20px">
    <h4 class="display-4">Machine Information Page</h4>
  
     <!-- <input type="text" placeholder="Enter Search Keyword..." (keyup)="handleSearchString($event)" class="form-control form-control-lg"/> <button (click)="filterSearch()" class="btn btn-primary btn-lg form-control" style="margin-top:20px">Search</button> -->
     
     <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Search</span>
        </div>
        <input type="text" class="form-control form-control-lg" (keyup)="handleSearchString($event)">
        <div class="input-group-append">
            <button class="btn btn-primary btn-lg" (click)="filterSearch()">GO</button>
          </div>
      
      </div>
</div>
<div class="container">
    <table *ngIf="dataSource.length" mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%">
    
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- ComputerName Column -->
        <ng-container matColumnDef="Computer Name">
          <th mat-header-cell *matHeaderCellDef> Computer Name. </th>
          <td mat-cell *matCellDef="let element"> {{element.ComputerName}} </td>
        </ng-container>
      
        <!-- IP Address Column -->
        <ng-container matColumnDef="IP Address">
          <th mat-header-cell *matHeaderCellDef> IP Address </th>
          <td mat-cell *matCellDef="let element"> {{element.IPAddress}} </td>
        </ng-container>
      
        <!-- Date Column -->
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
        </ng-container>
     
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fetchMachineDetails(row.MachineId)"></tr>
      </table>
     
      <div class="text-center mat-elevation-z8" style="" *ngIf="!dataSource.length && !isLoading">
        <p class="text-muted display-4">Sorry No Matches ..</p>

      </div>

      

      <br>
      <br>
      <div id="content-wrapper" *ngIf="renderFlag">

            <div class="container-fluid ">
      
            <!-- Machine Information goes here -->
          
            <div class="row">
              <div class="col-xl-12 col-sm-12 mb-3">
                <div class="card o-hidden h-100 mat-elevation-z8">
                  <div class="card-body">                
                    <div class="card-header bg-primary">
<div class="row">
  <div class="col-md-4"><h5 class="txtwhite">{{machineInfo.ComputerName}}</h5></div>
  <div class="col-md-4 text-center"><h5 class="pull-right txtwhite">{{machineInfo.LoggedInUser}}</h5></div>
  <div class="col-md-4 text-right"><h5 class="txtwhite">{{machineInfo.Date}}</h5></div>
</div>
                        
                      
                        
                  </div>
                  </div>
                  <div class="card-footer text-black clearfix small z-1" >
                      <div class="row">

                          <!-- First Card -->
                           <div class="col-md-3">
                               <mat-card>
                                       <mat-card-title>
                                           Computer Details 
                                   </mat-card-title>
                                   <mat-card-subtitle>
                                      <b> CPU Name :</b> <br>
                                      {{machineInfo.CPUName}}
                                   </mat-card-subtitle>
                                   <mat-card-subtitle>
                                          <b> Architecture :</b> <br>
                                          {{machineInfo.Architecture}}
                                       </mat-card-subtitle>
                                 
                               </mat-card>
                           </div> 
                             <!-- SecondCard  -->
                           <div class="col-md-3">
                                   <mat-card>
                                           <mat-card-title>
                                               Memory Details 
                                       </mat-card-title>
                                       <mat-card-subtitle>
                                              <b> RAM :</b> <br>
                                              ({{machineInfo.RAMCapacity}}) GB 
                                           </mat-card-subtitle>
                                           <mat-card-subtitle>
                                                  <b> HDD :</b> <br>
                                                  {{machineInfo.HDDFreeSpace}}/{{machineInfo.HDDSize}} GB
                                               </mat-card-subtitle>
                                   </mat-card>
       
                               </div> 
                                       <!-- Third Card  -->
                           <div class="col-md-3">
                                  <mat-card>
                                          <mat-card-title>
                                              Operating System 
                                      </mat-card-title>
                                      <mat-card-subtitle>
                                              <b> OS :</b> <br>
                                              {{machineInfo.OperatingSystem}}
                                           </mat-card-subtitle>
                                           <mat-card-subtitle>
                                                  <b> Build Version :</b> <br>
                                                  {{machineInfo.OSBuildVersion}}
                                               </mat-card-subtitle>
                                  </mat-card>
      
                              </div> 
                                      <!-- Fourth card  -->
                           <div class="col-md-3">
                                  <mat-card>
                                          <mat-card-title>
                                              Network Info 
                                      </mat-card-title>
                                      <mat-card-subtitle>
                                              <b>IP Address :</b> <br>
                                              {{machineInfo.IPAddress}}
                                           </mat-card-subtitle>
                                           <mat-card-subtitle>
                                                  <b> Domain :</b> <br>
                                                  {{machineInfo.Domain}}
                                               </mat-card-subtitle>
                                  </mat-card>
      
                              </div> 
                      </div>

                  </div>
                </div>
     </div>
             </div>
             <!-- Machine Information Goes here -->
      
     
      

      &nbsp;
      
       <div class="row">
                <div class="col-xl-4 col-sm-6 mb-3">
                  <div class="card o-hidden h-100 mat-elevation-z8">
                    <div class="card-body">                
                      <div class="card-header bg-primary"><h5 class=" txtwhite display-4" style="font-size: 36px">User</h5></div>
                      <table class="table">
                        <tr>
                          <th>User Name</th>
                        </tr>
                        <tr *ngFor="let user of usersInfo">
                         <td>{{user.UserName}}</td>
                         </tr>
                      </table>
                    </div>
                    
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-3">
                  <div class="card o-hidden h-100 mat-elevation-z8">
                    <div class="card-body">
                    <div class="card-header bg-primary"><h5 class=" txtwhite display-4" style="font-size:36px">Admin</h5></div>
                   <table class="table">
                     <tr>
                       <th>Admin Name</th>
                     </tr>
                     <tr *ngFor="let admin of adminsInfo">
                      <td>{{admin.AdminName}}</td>
                      </tr>
                   </table>

                    </div>
                   
                  </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-3">
                  <div class="card o-hidden h-100 mat-elevation-z8">
                    <div class="card-body">
                      <div class="card-header bg-primary"><h5  style="font-size:36px"  class="txtwhite display-4 font-weight-light">Patches</h5></div>
                      <table class="table">
                        <tr>
                          <th>Patch Name</th>
                          <th>HotFix Id</th>
                        </tr>
                        <tr *ngFor="let patch of patchesInfo">
                          <td>{{patch.PatchDescription}}</td>
                          <td>{{patch.HotFixId}}</td>
                        </tr>
                      </table>
                    </div>
                   
                  </div>
                </div>         
              </div>
      
     <br>
     <!-- Software Table  -->
      <div class="col-md-12 mb-3">
          <div class="card o-hidden h-100 mat-elevation-z8">
            <div class="card-body">
              <div class="card-header text-center bg-primary"><h5 class="display-4 txtwhite">Software Information</h5></div>
              <table class="table">
                  <tr>
                      <th>
                        Software Name
                      </th>
                      <th>
                        Version
                      </th>
                    </tr>
                    <tr *ngFor="let soft of softwareInfo">
                      <td>{{soft.SoftwareName}}</td>
                      <td>{{soft.version}}</td>
                    </tr>
              </table>
            </div>
           
          </div>
        </div>











            </div>
           
            
      
          </div>
</div>
  
  